
@model IEnumerable<LogınPage.Models.Person>









<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/javax.faces.resource/theme.css.html?ln=primefaces-bootstrap">
    <link type="text/css" rel="stylesheet" href="/javax.faces.resource/primefaces.css.html?ln=primefaces&amp;v=5.2">
    <script type="text/javascript" src="/javax.faces.resource/jquery/jquery.js.html?ln=primefaces&amp;v=5.2"></script>
    <script type="text/javascript" src="/javax.faces.resource/jquery/jquery-plugins.js.html?ln=primefaces&amp;v=5.2"></script>
    <script type="text/javascript" src="/javax.faces.resource/primefaces.js.html?ln=primefaces&amp;v=5.2"></script>
    <script type="text/javascript">if (window.PrimeFaces) { }</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        Kimlik Denetimi Sayfası
    </title>
    <link type="text/css" rel="stylesheet" href="/sablon/css/stil.css">
    <script type="text/javascript" src="/javax.faces.resource/locale.js.html?ln=js"></script>
</head>
<body>
    <div class="header-container">

        <div class="header">
            <form id="j_idt8" name="j_idt8" method="post" action="/login.html" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="j_idt8" value="j_idt8">

                <h1>
                    Ücretsiz İnternet Yönetim Arayüzü
                </h1><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><span style="float: right; top: 0; color: #deb887; font-weight: bold; font-size: 12px !important; margin-top: 4px">&nbsp;</span><input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:0" value="-7797360766641500618:827813638809927065" autocomplete="off">
            </form>
        </div>


    </div>
    <div class="main_content">
        <div id="girisEkrani" class="ui-panel ui-widget ui-widget-content ui-corner-all loginBox" data-widget="widget_girisEkrani">
            <div id="girisEkrani_header" class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all"><span class="ui-panel-title">Giriş</span></div><div id="girisEkrani_content" class="ui-panel-content ui-widget-content">
                <form name="f" action="/j_spring_security_check" method="POST">
                    <!--&lt;p:captcha theme="white" language="tr"/&gt;--><table class="borderLess" style="width: 390px;">
                        <tbody>
                            <tr>
                                <td>Kullanıcı Adı</td>
                                <td>
                                    <input type="text" name="j_username" id="j_username" value="" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all">
                                </td>
                            </tr>
                            <tr>
                                <td>Şifre</td>
                                <td>
                                    <input type="password" name="j_password" id="j_password" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all">
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input name="submit" id="submit" type="submit" value="Giriş" style="margin-left: 45%;">
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </form><span style="color: red"></span><hr id="j_idt43" class="ui-separator ui-state-default ui-corner-all">* Güvenli bölüme geçmek için lütfen kullanıcı adı ve parolanızı giriniz.
            </div>
        </div>
    </div>

    <div id="textarea_simulator" style="position: absolute; top: 0px; left: 0px; visibility: hidden;"></div>
</body>
</html>
